* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #FFE4C4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  height: 100vh;
  flex-direction: column;
  overflow-y: auto; /* Permet le défilement global */
}

.login-container {
  width: 100%;
  max-width: 100%; 
  max-height: 100vh; /* Limite la hauteur de la boîte, ajustez selon vos besoins */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto; /* Permet le défilement à l'intérieur de la boîte */
}
.login-container::-webkit-scrollbar {
  display: none;
}


.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #FFE4C4;
  outline: none;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #FFDAB9;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #FFCB8E;
}

.divparent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.mydiv {
  background-color: #FAEBD7;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(128, 128, 128, 0.5);

}


button {
  background-color: #FFDAB9;
  color: black;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom:10px ;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFCB8E;
  padding: 20px 40px;
}
.note-content {
  font-size: 16px;
  color: #555;
}
.note-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}
.titre{
  text-align: center;
  font-size: 28px; 
  font-weight: 600; 
  color: #333; 
  letter-spacing: 1px;
  text-transform: uppercase; 
  margin-bottom: 20px;
  position: relative;
}
.titre:hover {
  color: #FFDAB9;
  transition: color 0.3s ease;}
  .note-user {
    font-size: 12px; 
    color: #a9a9a9; 
    font-style: italic; 
    margin-top: 5px
  }